@{
    ViewBag.Title = "Home Page";
}

@section styles{
    <style type="text/css">
    #header{background-color: #2c3742;height: 50px;border: 0;}
    #header_progress{height:4px;position: absolute;top: 50px;left: 0;background: #00acac;margin: 0;padding: 0;z-index: 100;border: 0;width:0;}
    .page-center{position: absolute;top:50px;left: 0;right: 0;bottom: 0;}
    #left_bar_box{position: absolute;top:0;left: 0;bottom: 0;width:230px;background-color: #242a30;overflow-y: hidden;
    overflow-y: auto;}
    #left_bar_box::-webkit-scrollbar
    {
        width: 2px;
        height: 16px;
        background-color: #F5F5F5;
    }
    /*定义滚动条轨道 内阴影+圆角*/
    ::-webkit-scrollbar
    ::-webkit-scrollbar-track
    {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    /*定义滑块 内阴影+圆角*/
    ::-webkit-scrollbar
    ::-webkit-scrollbar-thumb
    {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    #left_bar>li{border-bottom: 1px solid #333333;}
    /*#left_bar>li>a{background-color:#2d353c;}*/
    #left_bar a{color:white;}
    #left_bar>li:not(.active)>a:hover{background-color: #232a2f;transition: all 0.3s linear;}
    #left_bar>li.active>a{background-color: #00acac;transition: all 0.3s linear;}
    #left_bar .sub-menu {
        list-style-type: none;
        padding: 10px 0 10px 30px;
        margin: 0;
        background: #1a2229;
        position: relative;
        display: none;
    }
    #left_bar .sub-menu>li{padding:5px 0;}
    #left_bar .sub-menu>li:before{content:'\f08d';font-family: "FontAwesome";color: #889097;margin-right: 10px;}

    #page-main{position: absolute;left: 230px;top: 0;right: 0;bottom: 0;overflow: hidden;overflow-y:auto;}

    .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{background-color: transparent;}
    .dropdown-menu.media-list>.media {
        margin-top: 0;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        margin-bottom: -1px;
    }
    .dropdown-menu.media-list>.media .media-object {
        height: 36px;
        width: 36px;
        line-height: 36px;
        font-size: 14px;
        color: #fff;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .media, .media-body {
        overflow: hidden;
        zoom: 1;
    }
</style>
}

@section scripts{
    <script type="text/javascript">
    var menu = [
    { title: "首页", sortindex: 0, icon: "fa fa-home margin_lr_5", islink: true, href: "@Url.Content("~/Home/Home")" },
    {
        title: "一级菜单0", sortindex: 0, icon: "fa fa-close margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true, href: "@Url.Content("~/Home/Test1")"},
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true, href: "table.htm" },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true, href: "test.htm" }
        ]
    },
    {
        title: "一级菜单1", sortindex: 0, icon: "fa fa-envelope margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单2", sortindex: 0, icon: "fa fa-paper-plane margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单3", sortindex: 0, icon: "fa fa-th margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单4", sortindex: 0, icon: "fa fa-inbox margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单5", sortindex: 0, icon: "fa fa-star margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单6", sortindex: 0, icon: "fa fa-key margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单7", sortindex: 0, icon: "fa fa-envelope margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单8", sortindex: 0, icon: "fa fa-align-left margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单9", sortindex: 0, icon: "fa fa-cubes margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单10", sortindex: 0, icon: "fa fa-file-o margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单11", sortindex: 0, icon: "fa fa-map-marker margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单12", sortindex: 0, icon: "fa fa-map-marker margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单13", sortindex: 0, icon: "fa fa-map-marker margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    },
    {
        title: "一级菜单14", sortindex: 0, icon: "fa fa-map-marker margin_lr_5", islink: false, children: [
        { title: "二级菜单1", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单2", sortindex: 0, icon: "fa fa-close", islink: true },
        { title: "二级菜单3", sortindex: 0, icon: "fa fa-close", islink: true }
        ]
    }
    ];

    $(function () {

        var $bar = $("#left_bar");
        //$("#page-main").load("HomeGF.htm");
        var _obj_a = {
            "href": "",
            "data-ajax-id": "PersonQuery",
            "data-ajax-update": "#page-main",
            "data-ajax": "true",
            "data-ajax-success": "UpdateProgressBar",
            "data-href": ""
        };

        $.each(menu, function (index, item) {

            if (item.children && item.children.length > 0) {
                var $el = $("<li>", { "class": "has-sub" }),
                    $ul = $("<ul>", { "class": "sub-menu" }).hide();
                $.each(item.children, function (i, t) {
                    $.extend(_obj_a, { href: t.href, "data-href": t.href || "" });
                    
                    $ul.append($("<li>").append(
                        $("<a>", _obj_a).text(t.title).click(function () {
                            $("#header_progress").stop(false, true).animate({ width: "80%" }, 2000, "swing");
                            if (t.islink && t.href) {
                                $("#page-main").load(t.href, function () {

                                });
                            }
                        })
                        ));
                });

                $bar.append($el.append(
                        $("<a>", { "href": "javascript:;" }).append($("<b>", { "class": "caret pull-right" })).append($("<i>", { "class": item.icon })).append($("<span>").text(item.title)).click(function () {
                            var $parent = $(this).parent();
                            if ($parent.hasClass('active')) {
                                $parent.find(">ul").stop(true, false).slideToggle(300);
                            }
                            else {
                                $parent.addClass('active').find(">ul").stop(true, false).slideDown(300).end().siblings('.active').removeClass('active').find(">ul").slideUp(300);
                            }
                        })
                        ).append($ul)
                    );
            }
            else {
                $.extend(_obj_a, { href: item.href, "data-href": item.href || "" });
                var $el = $("<li>").append(
                        $("<a>", _obj_a).append($("<i>", { "class": item.icon })).append($("<span>").text(item.title)).click(function () {
                            var $parent = $(this).parent();
                            if ($parent.hasClass('active')) {
                                // $(this).find(">ul").stop(true,false).slideToggle(300);
                            }
                            else {
                                if (item.islink && item.href) {
                                    $("#page-main").load(item.href, function () {

                                    });
                                }

                                $("#header_progress").stop(false, true).animate({ width: "80%" }, 2000, "swing");
                                $parent.addClass('active').find(">ul").stop(true, false).slideDown(300).end().siblings('.active').removeClass('active').find(">ul").slideUp(300);
                            }
                        })
                        );
                $bar.append($el);
            }
        });

        // $bar.find(">li").eq(0).find(">a").trigger('click');
    });

        //更新进度条
    function UpdateProgressBar() {
        $("#header_progress").stop(false, true).animate({ width: "100%" }, 500, function () {
            $(this).width(0);
        });
    }
    </script>
}

<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <!-- begin container-fluid -->
    <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
            <a href="javascript:;" id="logo" class="navbar-brand color-white">
                <span class="navbar-logo"></span>
                <i class="fa fa-windows text-danger"></i>&nbsp;&nbsp;&nbsp; 这里放一个Logo
            </a>
            <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
            <li>
                <form class="navbar-form full-width">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="请输入关键字" autocomplete="off" data-provide="typeahead">
                        <button type="button" class="btn btn-search btn-info"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </li>
            <li class="dropdown">
                <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14 color-white">
                    <i class="fa fa-bell-o"></i>
                    <span class="badge badge-danger">5</span>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                    <li class="dropdown-header">5条新的通知</li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <div class="text-muted f-s-11">3 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=2428676430,4161488114&fm=116&gp=0.jpg" class="media-object" alt=""></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <p>具体内容</p>
                                <div class="text-muted f-s-11">25 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=1913246915,2422968925&fm=116&gp=0.jpg" class="media-object" alt=""></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <p>具体内容</p>
                                <div class="text-muted f-s-11">35 分钟前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">xxxxx</h6>
                                <div class="text-muted f-s-11">1 小时前</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;">
                            <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading"> xxxx</h6>
                                <div class="text-muted f-s-11">2 小时前</div>
                            </div>
                        </a>
                    </li>
                    <li class="dropdown-footer text-center">
                        <a href="javascript:;">更多</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown navbar-user">
                <a href="javascript:;" class="dropdown-toggle color-white" data-toggle="dropdown">
                    <i class="fa fa-user"></i>
                    <span class="hidden-xs">系统管理员</span> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInLeft">
                    <li class="arrow"></li>
                    <li><a href="javascript:;"><i class="fa fa-user"></i>个人信息</a></li>
                    <li><a href="javascript:;"><i class="fa fa-cog"></i> 设置</a></li>
                    <li class="divider"></li>
                    <li><a href="javascript:;"><i class="fa fa-sign-out"></i>注销</a></li>
                </ul>
            </li>
        </ul>
        <!-- end header navigation right -->
    </div>
    <!-- end container-fluid -->
</div>
<hr id="header_progress" />
<div class="container-fluid page-center">
    <div id="left_bar_box"><ul class="nav" id="left_bar"></ul></div>
    <div class="content" id="page-main">
        <!--<div class="panel-group" id="accordion">
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #1
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #2
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #4
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #5
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #6
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-inverse overflow-hidden">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false">
                                        <i class="fa fa-plus-circle pull-right"></i>
                                        Collapsible Group Item #7
                                    </a>
                                </h3>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                </div>
                            </div>
                        </div>
                    </div>-->
        @{Html.RenderAction("Home", "Home", null);}
    </div>
</div>