@{
    ViewBag.Title = "字体图标";
}

<style type="text/css">
    #Icon_container>.row>.col-md-3>i{width:2em;text-align:center;}
    #Icon_container>.row>.col-md-3{white-space:nowrap;text-overflow:ellipsis;padding:0 1em;overflow:hidden;position:relative;height:3rem;line-height:3rem;font-size:1.5rem;}
    #Icon_container>.row>.col-md-3:hover { background-color: #00acac;color:white;border-radius:10px;}
</style>

<script type="text/javascript">
    $(function () {
        $.web.get({ url: "@Url.Content("~/XT/GetIcons")", async: true },
            {
            OnSuccess: function (xhr)
            {
                switch (xhr.Key)
                {
                    case "success":
                        var Icons = $.parseJSON(xhr.Value);
                        $.each(Icons, function (_i, _t) {
                            $("#Icon_container>.row").append($("<div>", { "class": "col-md-3" }).text(_t.FontClass).prepend($("<i>", { "class": _t.FontClass })));
                        });
                        break;
                    default:
                        $.web.toast(xhr.Value);
                        break;

                }
            }
        })
    });

</script>

<ol class="breadcrumb bg-default nomargin">
    <li><a href="javascript:;">系统管理</a></li>
    <li class="active">字体图标</li>
</ol>

<div class="container-fluid" id="Icon_container">
    <div class="row nomargin"></div>
</div>

