@{
    ViewBag.Title = "系统日志";
}

@Styles.Render("~/bundles/bootstrap-daterangepicker/css")
@Styles.Render("~/bundles/bootstrap-table/css")

@Scripts.Render("~/bundles/bootstrap-daterangepicker/js")
@Scripts.Render("~/bundles/bootstrap-table/js")
<style type="text/css">
    .table_img{width:50px;height:50px;}
</style>
<script type="text/javascript">
        var $table;
        $(function () {
            window.curlocation = ['系统管理', '微信系统日志'];

            LoadTab(0);

            $("#logTab>li").click(function () {
                $(this).addClass("active").siblings(".active").removeClass("active");
                LoadTab($(this).index());
            });

        //查询
            $(".tab-content .btn_query").click(function () {
                $table.bootstrapTable('refresh');
            });
        });

        function LoadTab(_index) {

            var $tab = $("#logTab>li").eq(_index),
                $showTab=$($tab.find(">a").attr("href"));
            $showTab.addClass("in active").siblings(".in.active").removeClass("in active");
            $table = $showTab.find('.table');
            if (!$tab.attr("data-load"))
            {
                $tab.attr("data-load", true);

                $.each($showTab.find('.bootstrap-daterangepicker'), function (i, el) {
                    $(el).val("2016-9-16 - 2016-9-17").daterangepicker(null, function (start, end, label) {
                        console.log(start.toISOString(), end.toISOString(), label);

                        $(el).attr({
                            "data-date-start": $.web.dateFormat(new Date(start), "yyyy-MM-dd"),
                            "data-date-end": $.web.dateFormat(new Date(end), "yyyy-MM-dd")
                        });

                    }).on('apply.daterangepicker', function (ev, picker) {
                        $(el).attr({
                            "data-date-start": $.web.dateFormat(new Date(picker.startDate), "yyyy-MM-dd"),
                            "data-date-end": $.web.dateFormat(new Date(picker.endDate), "yyyy-MM-dd")
                        });
                    });
                });

                var uri, tabcolumns;
                switch (_index) {
                    case 0:
                        uri = "T_TextMessage";
                        tabcolumns = [
                        {
                            checkbox: true, align: 'center', valign: 'middle', formatter: function (value, row, index) {
                                return value;
                            }
                        },
                        { title: '发送者', field: 'FromUserName', align: 'left', valign: 'middle', sortable: true, width: 50 },
                        { title: '日志内容', field: 'Content', align: 'left', valign: 'middle', sortable: true },
                        {
                            title: '创建日期', field: 'SysCreateTime', align: 'center', valign: 'middle', sortable: true,
                            formatter: function (value) {
                                return $.web.dateFormat(value, "yyyy-MM-dd HH:mm");
                            }
                        }
                        ];
                        break;
                    case 1:
                        uri = "T_ImgMessage";
                        tabcolumns = [
                        {
                            checkbox: true, align: 'center', valign: 'middle', formatter: function (value, row, index) {
                                return value;
                            }
                        },
                        {title: '发送者', field: 'FromUserName', align: 'left', valign: 'middle', sortable: true, width: 50},
                        {
                            title: '创建日期', field: 'SysCreateTime', align: 'center', valign: 'middle', sortable: true,
                            formatter: function (value) {
                                return $.web.dateFormat(value, "yyyy-MM-dd HH:mm");
                            }
                        }
                        ];
                        break;
                    case 2:
                        uri = "T_SysLogs";
                        tabcolumns = [
                        {
                            checkbox: true, align: 'center', valign: 'middle', formatter: function (value, row, index) {
                                return value;
                            }
                        },
                        { title: '日志内容', field: 'SysContent', align: 'left', valign: 'middle', sortable: true },
                        {
                            title: '创建日期', field: 'CreateTime', align: 'center', valign: 'middle', sortable: true,
                            formatter: function (value) {
                                return $.web.dateFormat(value, "yyyy-MM-dd HH:mm");
                            }
                        }
                        ];
                        break;
                }

                $table.bootstrapTable({
                    url: document.weburl + "odata/" + uri,
                    showRefresh: false, //是否显示刷新按钮
                    dataType: "json",
                    method: 'get',
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    height: $(window).height() - $("#header").height() - 220, //table 高度
                    striped: true, //是否显示行间隔色
                    singleSelect: true, //单选
                    sortable: true, //是否启用排序
                    showColumns: false, //字段筛选
                    dataLocale: "zh-CN", //表格汉化
                    search: false, //显示搜索框
                    pageSize: 10, //每页的记录行数（*）
                    pageList: [10, 15, 20, 25], //分页选择
                    pageNumber: 1, //初始化加载第一页，默认第一页
                    pagination: true, //分页
                    //minimumCountColumns: 2, //最少允许的列数
                    clickToSelect: true, //是否启用点击选中行
                    queryParamsType: "limit",
                    onLoadSuccess: function (xhr) {
                        $("[data-toggle]").tooltip();
                    },
                    onLoadError: function (status) {

                    },
                    queryParams: function (params) {
                        var queryParams = {};
                        queryParams["$top"] = params.limit;
                        queryParams["$skip"] = params.offset;
                        queryParams["$count"] = true;
                        //queryParams["$filter"] = GetFilters();
                        if (params.sort)
                            queryParams["$orderby"] = params.sort + " " + params.order;
                        return queryParams;

                    },
                    sidePagination: "server", //服务端处理分页
                    responseHandler: function (res) {
                        var ret = {
                            total: res["@@odata.count"],
                            rows: res.value
                        };
                        return ret;
                    },
                    columns: tabcolumns
                });
            }
            else
            {
                $table.bootstrapTable('refresh');
            }
            
        }
</script>

<div class="container-fluid">
    <ul class="nav nav-pills nav-justified" id="logTab">
        <li class="active"><a href="#TextLogs" data-toggle="tab">文字日志</a></li>
        <li><a href="#ImgLogs" data-toggle="tab">图片日志</a></li>
        <li><a href="#ErrorLogs" data-toggle="tab">错误日志</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade in active" id="TextLogs">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-search"></i> <h5>查询条件</h5></div>

                    <div class="panel-body">
                        <div class="row margin_tb_5">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>起止日期
                                    </span>
                                    <input type="text" class="form-control bootstrap-daterangepicker" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-md-4 text-right">
                                <button type="button" class="btn btn-primary btn-sm btn_query"><i class="fa fa-search"></i> 查询</button>
                                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i> 重置</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <table class="table"></table>
        </div>
        <div class="tab-pane fade" id="ImgLogs">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-search"></i> <h5>查询条件</h5></div>

                    <div class="panel-body">
                        <div class="row margin_tb_5">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>起止日期
                                    </span>
                                    <input type="text" class="form-control bootstrap-daterangepicker" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-md-4 text-right">
                                <button type="button" class="btn btn-primary btn-sm btn_query"><i class="fa fa-search"></i> 查询</button>
                                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i> 重置</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <table class="table"></table>
        </div>
        <div class="tab-pane fade" id="ErrorLogs">
            <div class="panel-body nopadding">
                <div class="panel panel-default">
                    <div class="panel-heading panel-headicon"><i class="fa fa-search"></i> <h5>查询条件</h5></div>

                    <div class="panel-body">
                        <div class="row margin_tb_5">

                            <div class="col-md-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"></i>起止日期
                                    </span>
                                    <input type="text" class="form-control bootstrap-daterangepicker" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-md-4 text-right">
                                <button type="button" class="btn btn-primary btn-sm btn_query"><i class="fa fa-search"></i> 查询</button>
                                <button type="button" class="btn btn-info btn-sm"><i class="fa fa-refresh"></i> 重置</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <table class="table"></table>
        </div>
    </div>


</div>